@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-content: ;
}
header .logo {
  height: 50px;
  cursor: pointer;
  transition-delay: 4s;
  animation: movedown 2s linear;
}
.class {
  width: 50%;
}
#sideNav a {
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
}
#menuBtn img {
  width: 0;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 1;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  opacity: 0.8;
  margin-top: 6%;
}
.overlay {
  position: absolute;
  margin-top: 6%;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #03a8f47c;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  animation: moveright 2s linear;
  transition: ease-in 1s;
}
@keyframes moveright {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  animation: moveright 1s linear;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  animation: moveright 1s linear;
  transition-delay: 0.5s;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  justify-content: space-between;
  animation: moveright 1s linear;
  transition-delay: 1s;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.4s;
}
.text a:hover {
  background: black;
  color: #fff;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(1) translateY(-15px) translateX(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: #03a9f4;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 12px;
}
@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
  a {
    font-size: 1em;
  }
  #bars {
    display: none;
    font-size: 1.3rem;
    color: white;
  }
  header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo {
    width: 150px;
    cursor: pointer;
  }
  #sideNav {
    width: 20%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #009788;
    z-index: 2;
  }
  nav {
    list-style: none;
    margin: 50px 20px;
  }
  nav a {
    text-decoration: none;
    color: white;
  }
  #menuBtn {
    width: 50px;
    height: auto;
    background-color: white;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 2px;
    z-index: 3;
    cursor: pointer;
  }
  #menuBtn img {
    width: 20px;
    margin-top: 15px;
  }
  .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
  }
  .showcase video {
    position: absolute;
    padding-top: 10%;
    width: 100%;
    height: 80%;
    object-fit: cover;
    opacity: 0.8;
    margin-top: 6%;
  }
  .overlay {
    position: absolute;
    margin-top: 16%;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background: #03a8f47c;
    mix-blend-mode: overlay;
  }
  .class {
    position: absolute;
    background: #f4436f;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 10;
  }
  .fa fa-times-circle-o {
    width: 500px;
    height: auto;
  }
}
